/* Reset básico para garantir que todos os elementos tenham estilo consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Estilos globais */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

span {
  color: #5275ff;
}

/* Estilo para os botões */
.chamada {
  background: linear-gradient(to top, #004aad, #5de0e6);
  /* Gradiente */
  border: none;
  color: white;
  padding: 13px 8px;
  font-size: 12px;
  width: 100%;
  max-width: 280px;
  min-width: 280px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.5s ease;
  height: 46px;
  margin-top: 10px;
  transition: 0.2s;
}

.h24{
  opacity: 0;
  transform: translateX(40px);
}
.chamada:hover {
  filter: saturate(5);
  
}
.chamada2:hover {
  filter: saturate(5);
  
}

/* Estilo para as imagens do livro */
.parte1,
.parte2,
.parte3,
.parte4 {
  width: 100%;
}

/* Seções específicas */
.parte2,
.parte4 {
  background-color: rgb(15, 15, 15);

}

.parte1,
.parte3 {
   background: linear-gradient(to bottom, rgb(15, 15, 15), rgb(10, 10, 35), rgb(15, 15, 15) );

}

.parte1,
.parte2,
.parte3 {
  width: 100%;
  padding: 120px 190px 100px 190px;

}


.parte1 {
  display: grid;
  grid-template-columns: 55% 45%;
}

.parte1a {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  row-gap: 55px;
  opacity: 0;
  transform: translateX(-30px);


}

.parte1a h1 {
  font-size: 38px;
  line-height: 1.0;
  letter-spacing: 3px;
}

.parte1a p {
  letter-spacing: 2px;
  font-size: 15px;
  color: #E5E5E5;;
}

.parte1b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(30px);

}

.bookImg {
  max-width: 600px;
  max-height: 550px;
  width: 100%;
  height: 100%;
}

.bookImg img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  right: -40px;
  top: -30px;

  /* Adicionando sombra suave */

  /* Adicionando brilho sutil */
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.014));
}

.parte2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 90px;
}

.parte2a {
  display: flex;
  width: 100%;
  column-gap: 105px;
  justify-content: center;
  opacity: 0;
  transform: translateY(35px);
}

.parte2a p {
  letter-spacing: 1px;
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  line-height: 24px;
  font-size: 18px;
  color: #E5E5E5;
  text-indent: 10px;
}



.parte2b{
  opacity: 0;
  transform: translateY(35px);
}


.parte3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.desconto {
  max-width: 650px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 60% 40%;
  border: solid #5275ff 1px;
  background: linear-gradient(90deg, #5de0e6, #004aad);
}


.chamada2 {
  font-size: 11px;
  width: 100%;
  max-width: 180px;
  min-width: 70px;
  background: linear-gradient(to top, #004aad, #5de0e6);
  /* Gradiente */
  border: none;
  color: white;
  padding: 13px 8px; 
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  height: 42px;
  transition: 0.2s;
  margin: 10px 0px 0px 0px;
}


.descontoA,
.descontoB {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  justify-content: center;
}

.descontoA {
  background-color: #12161e;
  row-gap: 40px;
}

.descontoA p {
  font-size: 16px;
}

.descontoA h2 {
  font-size: 30px;
}

.descontoB {
  background: linear-gradient(90deg, #5de0e6, #004aad);
  text-align: center;
  row-gap: 5px;
}

.descontoB strong {
  font-size: 44px;
}



.descontoB p {
  font-weight: bold;
  color: #12161e;
}

.descontoB s,
.descontoB span {
  color: #ffffff;
  font-size: 20px;
}






.parte4 {
  padding: 120px 170px 100px 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;

}

.parte4 h2 {
  text-align: center;
  width: 100%;
  max-width: 512px;
  min-width: 512px;
  font-size: 19px;
}



.Copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 700px;
  min-width: 700px;
  font-size: 14px;
  opacity: 0;
  transform: translateX(-40px);
}

.logo {
  width: 80px;
  height: 80px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.Copyright p {
  line-height: 17px;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .parte1 {
    padding: 120px 100px 100px 100px;
  }
}

@media (max-width: 780px) {
  .parte2a .mTop {
    margin-top: 40px;
  
  }

  .chamada {
    font-size: 12px;
    min-width: 250px;
    max-width: 280px;
  }


  .parte1,
  .parte2,
  .parte3,
  .parte4 {
    width: 100%;
    padding: 50px 10px;
  }

  .parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .parte1a {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    min-width: 85%;
    width: 100%;
    row-gap: 40px;
    align-items: center;
  }


  .parte1a h1 {
    font-size: 32px;
    line-height: 1.0;
    letter-spacing: 3px;
    text-align: center;

  }

  .parte1a p {
    text-align: center;
    letter-spacing: 1px;
  }

  .parte1b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bookImg {
    padding: 0px;
    max-width: 330px;
    min-width: 100px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    display: flex;

  }

  .bookImg img {
    position: static;
    max-width: 100%;
    max-height: 100%;
  }



  .parte2a {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
  }


  .parte2a p {
    max-width: 90%;
    min-width: 90%;
  }



  .desconto {
    max-width: 100%;
    height: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    border: solid #5275ff 1px;
    background: linear-gradient(90deg, #5de0e6, #004aad);
    cursor: pointer;
  }

  .chamada2 {
    margin: 10px 0px 10px 0px;
    font-size: 9px;
    min-width: 115px;
    max-width: 115px;

  }



  .desconto:hover {
    filter: saturate(2);
  }

  .descontoA,
  .descontoB {
    display: flex;
    flex-direction: column;
    padding: 4px 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .descontoA {
    background-color: #0a0a0a;
    row-gap: 20px;
    justify-content: center;
  }

  .descontoA h2 {
    font-size: 20px;
  }

  .descontoB {
    background: linear-gradient(90deg, #5de0e6, #004aad);
    text-align: center;
    row-gap: 1px;

  }

  .descontoB strong {
    font-size: 36px;
  }


  .descontoA p {
    font-size: 13px;
  }
  .descontoB s,
  .descontoB span {
    font-size: 14px;
  }


  .desconto .chamada {
    padding: 1px 5px;
    font-size: 9px;
    width: 100%;
    max-width: 180px;
    min-width: 20px;
  }



  .parte4 {
    row-gap: 70px;
  }

  .parte4 h2 {
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
  }

  .Copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 11px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .Copyright p {
    line-height: 17px;
  }
}